.title, .header, .user-cases, .use-case-elab {
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px;
    font-family: serif;
}
.title {
    text-align: center;
    font-size: 2.4em;
    padding-top: 8px;
    padding-bottom: 12px;
    background-color: #EEEEEE;
}
.header {
    text-align: left;
    padding-bottom: 12px;
    background-color: #DDDDDD;
}
.use-cases {
    text-align: left;
    padding-bottom: 30px;
    background-color: #D0D0D0;
}
    .use-case-elab {
        text-align: left;
        padding-bottom: 8px;
        background-color: #CACACA;
    }
